*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: black;
}
#all-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: 100vh;
    background: rgb(0, 0, 0);
    margin: 0;
}
#main-content
{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transform: translate(50%,-50%); */
    /* background-color: rgb(102, 102, 102); */
}
#header
{
    background-color: #c6c6c6;
    color: rgb(0, 0, 0);
    width: 70%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0);
}
#grid-container
{
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    gap: 6px;
    /* border:  2px solid #494747; */
    /* background-color: rgb(15, 15, 15); */
    background-color: rgb(255, 213, 0);
}
.square
{
    background-color: rgba(101, 98, 98, 0.339);
    display:  flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size:40px;
    font-family:'Gill Sans','Trebuchet MS', sans-serif;

    /* border: 2px solid ; */

}